registry=https://registry.npmjs.org

enable-pre-post-scripts=true
strict-peer-dependencies=false

public-hoist-pattern[]=*@giantnodes/theme*
public-hoist-pattern[]=*@react-types/shared*
public-hoist-pattern[]=*tailwind-variants*
